<div class="index14_body index14_login">
    <div class="index14_wrap index14_login">
        <div class="index14_login_l">欢迎光临格莱弗！&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:;">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="javascript:;">注册</a>
</div>
        <div class="index14_login_r">
            <a href="user.php">我的账户</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="user.php?act=order_list">订单查询</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="help.html">帮助中心</a>
        </div>
    </div>
</div>
<style type="text/css">
.pay14_logo{width:322px; height:63px; float:left; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat;}
.pay14_logo a{width:322px; height:63px; display:block;}
.pay14_jindu_0,.pay14_jindu_1,.pay14_jindu_2,.pay14_jindu_3{width:537px; height:40px; float:right; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat; margin-top:20px;}
.pay14_title{width:980px; padding-left:10px; height:30px; background:#ececec; border-top:solid 3px #c2c2c2; font:700 14px/30px "微软雅黑"; color:#666;}
.pay14_tit{width:950px; padding-left:10px; height:16px; margin:30px 0 10px 10px; border-left:solid 5px #333; font:700 14px/16px "微软雅黑";}
.pay14_tit a{font:400 12px/16px "宋体"; margin-left:20px;}
.pay14_tit a:hover{color:#125bb7;}
.pay14_con{width:950px; padding:0 0 30px 20px; height:auto; margin:30px 0 10px 10px; border-bottom:solid 1px #666;}
.pay14_con p{display:inline-block; margin-right:20px; line-height:25px;}
.pay14_con p span{color:#F03;}
.pay14_bill_1{width:940px; height:auto; margin:20px 0 0 20px;}
.pay14_bill_1 td{background:#ccc; text-align:center; line-height:30px;}
.pay14_bill_2{width:940px; height:auto; margin:0 0 0 20px; background:#ccc;}
.pay14_bill_2 td{line-height:100px; background:#fff;}
.pay14_bill_col_1{width:490px;}
.pay14_bill_col_2{width:150px;}
.pay14_bill_pic{width:82px; height:82px; float:left; margin:5px 0 0 30px;}
.pay14_bill_pic img{width:80px; height:80px; border:solid 1px #ccc;}
.pay14_bill_con{width:350px; height:auto; margin:20px 0 0 20px; float:left;}
.pay14_bill_con li{line-height:25px;}
.pay14_bill_con li span{color:#F03;}
.pay14_jisuan_1{width:950px; height:auto; margin:20px 0 0 10px; border-bottom:solid 1px #666;}
.pay14_jisuan_1 li{line-height:30px; text-align:right;}
.pay14_jisuan_1 li span{color:#F03;}
.pay14_jisuan_1 li p{text-align:right; display:inline-block; width:80px;}
.pay14_jisuan{width:960px; height:50px; border:solid 1px #ccc; border-left:none; border-right:
none; background:#f2f2f2; text-align:right; margin:30px auto;}
.pay14_jisuan p{font:700 16px/50px "微软雅黑"; color:#676767; float:right;}
.pay14_jisuan p span{color:#F03;}
.pay14_jisuan a, .pay14_jisuan input{width:135px; height:36px; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat -855px -46px; float:right; margin:8px 10px 0 10px; display: block; border: 0; cursor: pointer;}
.pay_save{width:101px; height:26px; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat -889px 0; cursor:pointer; margin-top:10px;}
.pay14_jindu_0 {background-position: 0 -357px;}
.pay14_jindu_1 {background-position: 0 -118px;}
.pay14_jindu_2 {background-position: 0 -202px;}
.pay14_jindu_3 {background-position: 0 -285px;}

.pay14_title{width:980px; padding-left:10px; height:30px; background:#ececec; border-top:solid 3px #c2c2c2; font:700 14px/30px "微软雅黑"; color:#666;}

.pay14_tit{width:950px; padding-left:10px; height:16px; margin:30px 0 10px 10px; border-left:solid 5px #333; font:700 14px/16px "微软雅黑";}
.pay14_tit a{font:400 12px/16px "宋体"; margin-left:20px;}
.pay14_tit a:hover{color:#125bb7;}

.pay14_con{width:950px; padding:0 0 30px 20px; height:auto; margin:30px 0 10px 10px; border-bottom:solid 1px #666;}
.pay14_con p{display:inline-block; margin-right:20px; line-height:25px;}
.pay14_con p span{color:#F03;}

.pay14_dingdan{width:960px; height:auto; margin:20px auto 0; font:700 14px/30px "微软雅黑";}
.pay14_dingdan p{float:right; font:400 14px/30px "微软雅黑";}
.pay14_dingdan p span{color:#F03;}
.pay14_dingdan2{width:960px; height:auto; margin:0 auto 20px; color:#F03;}

.pay14_pay_tit{width:960px; padding-left:30px; height:auto; border-bottom:solid 1px #ccc; overflow:hidden; margin:50px auto;}
.pay14_pay_button_on{width:160px; height:40px; border:solid 1px #ccc; border-bottom:none; text-align:center; font:700 14px/40px "微软雅黑"; float:left; cursor:pointer;}
.pay14_pay_button_off{width:160px; height:30px; border:solid 1px #ccc; border-bottom:none; text-align:center; font:400 14px/30px "微软雅黑"; float:left; margin-top:10px; color:#999; cursor:pointer;}

.pay14_bank{width:800px; height:auto; margin:0 auto;}
.pay14_bank li{width:190px; height:auto; float:left; margin-right:10px;}
.pay14_bank li img{width:188px; height:38px; border:solid 1px #ccc; cursor:pointer;}
.pay14_bank li img:hover{border:solid 1px #F03;}

.pay14_bank2{width:800px; height:auto; margin:0 auto;}
.pay14_bank2 li{width:170px; height:auto; float:left; margin-right:10px;}
.pay14_bank2 li img{width:168px; height:38px; border:solid 1px #ccc; cursor:pointer;}
.pay14_bank2 li img:hover {border:solid 1px #F03;}
.pay14_bank2 ul li img.now {border:solid 1px #F03;}

.pay14_bank3{width:800px; height:auto; margin:0 auto;position: relative;}
.pay14_bank3_logo{width:175px; float:left;}
.pay14_bank3_logo img{width: 168px;height: 38px;border: solid 1px #ccc; cursor: pointer;}
.pay14_bank3_info{width:550px; height:auto; float:left; font:400 16px/25px "微软雅黑";}
.pay14_bank3_sl{width:800px; height:auto; margin:50px auto; display:none; position: absolute;top: -10px;}
.pay14_bank3_sl img{width:800px; height:400px;}

.pay14_go{width:990px; height:auto; border-top:solid 1px #ccc; padding:20px 0; text-align:right; overflow:hidden; margin:50px auto;}
.pay14_go a, .pay14_go input {width: 151px;height: 41px;background: url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat -839px -113px;display: block;float: right;text-align: center;line-height: 41px;font-size: 0px;color: #FFF;font-family: 微软雅黑;border: none;cursor: pointer;text-indent:-9999px;}

.pay14_logo{width:322px; height:63px; float:left; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat;}
.pay14_logo a{width:322px; height:63px; display:block;}

.pay14_jindu_1,.pay14_jindu_2,.pay14_jindu_3{width:537px; height:40px; float:right; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat; margin-top:20px;}
.pay14_jindu_1{background-position: 0 -118px;}
.pay14_jindu_2{background-position: 0 -202px;}
.pay14_jindu_3{background-position: 0 -285px;}

.pay14_back{width:990px; height:auto; margin:20px auto; border-top:solid 5px #c8c8c8; background:#ececec; padding:30px 0;}
.pay14_info{width:780px; padding-left:20px; height:60px; font:400 14px/60px "微软雅黑"; background:#fff; margin:0 auto; border:solid 1px #ccc; -moz-box-shadow:2px 4px 10px  #ccc ; -webkit-box-shadow:2px 4px 10px #ccc ; box-shadow:2px 5px 10px #ccc ;}
.pay14_info span{color:#F03;}

.pay14_info2{width:800px; height:50px; line-height:50px; margin:0 auto;}
.pay14_info2 a{color:#126bb7;}
.pay14_info2 a:hover{color:#1b5092;}

.pay14_other_tit{width:990px; height:30px; font:700 14px/30px "微软雅黑"; margin:30px auto; border-bottom:solid 1px #ccc;}
.pay14_other{width:990px; height:auto; margin:10px auto 30px; overflow:hidden;}
.pay14_other li{width:150px; height:auto; float:left; margin:0 24px;}
.pay14_other li img{width:150px; height:150px;}
.pay14_other li p{line-height:22px; text-align:center;}

.pay14_back_ok{width:860px; padding-left:60px; height:48px; margin:0 auto; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat -938px -202px; font:400 16px/48px "微软雅黑"; color:#3f570b;}
.pay14_querstion{width:950px; height:auto; margin:10px auto 20px; padding:0 20px;}
.pay14_querstion li{font:400 14px/22px "微软雅黑";}
.pay14_querstion li span{color:#900;}

.pay14_huikuan{width:780px; padding-left:20px; height:auto; font:400 14px/60px "微软雅黑"; background:#fff; margin:0 auto; border:solid 1px #ccc; -moz-box-shadow:2px 4px 10px  #ccc ; -webkit-box-shadow:2px 4px 10px #ccc ; box-shadow:2px 5px 10px #ccc ;}
.pay14_huikuan span{color:#F03;}
.pay14_hkinfo{width:100%; height:auto; margin:0 auto 20px;}
.pay14_hkinfo li{font:400 14px/22px "微软雅黑";}
.pay14_hkinfo li p{padding-left:40px;}
</style>