<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {}
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">首页</a>
        </li>
        <li class="active">用户</li>
    </ul>
    <!-- /.breadcrumb -->
</div>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content" ng-controller = 'groupInfoCtrl'>
    <div class="page-header">
        <h1>
                        用户
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            用户组列表
                        </small>
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            编辑
                        </small>
                    </h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" ng-submit="submitForm()">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 管理组名称： </label>

                    <div class="col-sm-9">
                        <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" ng-model="adminGroupDetail.groupName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 是否开启管理组： </label>

                    <div class="col-sm-9">
                        <select ng-model="adminGroupDetail.status">
                            <option value="1" ng-selected="adminGroupDetail.status=='1'">开启</option>
                            <option value="0" ng-selected="adminGroupDetail.status=='2'">关闭</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 是否是业务员： </label>

                    <div class="col-sm-9">
                        <label>
                            <input type="radio" name="isywy" ng-model="adminGroupDetail.isYwy" ng-value="1">
                            <span>是</span>
                        </label>
                        <label>
                            <input type="radio" name="isywy" ng-model="adminGroupDetail.isYwy" ng-value="2">
                            <span>否</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 备注： </label>

                    <div class="col-sm-8">
                        <textarea ng-model="adminGroupDetail.remark" class="form-control" id="form-field-8" placeholder="Default Text" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-2 control-label no-padding-right">权限：</div>
                    <div class="col-sm-9" style="padding-left:0;">
                        <div class="col-sm-12" ng-repeat="(index,item) in permissionList">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">{{item.perName}}</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <label ng-repeat="obj in item.items">
                                            <input  name="permission" type="checkbox" class="ace"
                                                   ng-model="adminGroupDetail.permission[item.id][obj.id]"
                                           >&nbsp;
                                            <span class="lbl">{{obj.perName}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix form-actions">
					<div class="col-md-offset-1 col-md-9">
						<button class="btn btn-info" type="submit">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Submit
						</button>

						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							Reset
						</button>
					</div>
				</div>
            </form>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.page-content -->
