
<div class="menbet_left">
    <div class="menbet_left_menu">
        <dl>
            <dt>会员资料&nbsp;INFORMATION</dt>
            <dd>
                <a ui-sref="profile_browse">我的资料&nbsp;&nbsp;&gt;</a></dd>
            <dd>
                <a ui-sref="profile_password">修改密码&nbsp;&nbsp;&gt;</a></dd>
            <dd>
                <a ui-sref="address_list">收货地址&nbsp;&nbsp;&gt;</a></dd>
        </dl>
        <dl>
            <dt>会员管理&nbsp;MANAGEMENT</dt>
            <dd>
                <a ui-sref="order_list">我的订单&nbsp;&nbsp;&gt;</a></dd>
        </dl>
    </div>
</div>


<style type="text/css">.tl_body{width:100%; height:auto; margin:0 auto;} .tl_wrap{width:990px; height:auto; margin:0 auto;} .tl_wrap img a{border:none;}</style>