
<script type="text/javascript">
    var process_request = "正在处理您的请求...";
</script>
<SCRIPT type="text/javascript" src="js/scripts.js"></SCRIPT>
<script type="text/javascript">
    $(document).ready(function() {
        //当点击跳转链接后，回到页面顶部位置
        $("#back-to-top").click(function() {
            $('body,html').animate({
                scrollTop: 0
            }, 1000);
            return false;
        });
    });

    function showTopNav(layerName) {
        eval('document.getElementById(' + "'" + layerName + "'" + ').style.display = "block"');
    }

    function hideTopNav(layerName) {
        eval('document.getElementById(' + "'" + layerName + "'" + ').style.display = "none"');
    }
    BizQQWPA.addCustom({
        aty: '0',
        nameAccount: '800109858',
        selector: 'kefu'
    });
</script>
<div class="index14_body index14_login">
    <div class="index14_wrap index14_login">
        <div class="index14_login_l">欢迎光临每克拉美！&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0);">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="javascript:void(0);">注册</a>
        </div>
        <div class="index14_login_r">
            <a href="javascript:void(0);">我的账户</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="javascript:void(0);">订单查询</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="javascript:void(0);">帮助中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="javascript:void(0);">服务承诺</a>&nbsp;&nbsp;

        </div>
    </div>
</div>

<div class="head1606_logo">
    <a href="index.html"></a>
</div>

<div class="index14_wrap">
    <div class="in1406_logo">
        <a href="javascript:void(0);"></a>
    </div>
    <div class="in1406_serch">
        <form id="searchForm" name="searchForm" method="get" action="search.php?act=advanced_search" onSubmit="return checkSearchForm()">
            <input type="text" name="keywords" id="keywords" class="in1406_inp" value="" placeholder="一克拉裸钻" />
            <input type="submit" class="in1406_sub" value='' style="border: 0px;" />
            <input type="hidden" name="action" value="form" />
        </form>
        <div class="clear"></div>
    </div>
    <div class="in1406_tel">
        <div class="in1406_tel_text"></div>
        <div class="in1406_car" onmouseover="showTopNav('mini');" onmouseout="hideTopNav('mini');">购物车中有<span> 0 </span>件商品</div>

        <div class="miniCart4 hidden" id="mini" onmouseover="showTopNav('mini');" onmouseout="hideTopNav('mini');">



            <p class="miniCartVacancy">您的购物车中暂无商品</p>





            <!--<p class="miniCartVacancy">您的购物车中暂无商品</p>-->

        </div>
    </div>

</div>
<div class="in1406_head_line"></div>