<div class="" ng-include="'src/components/index/header.html'"></div>
<div ng-controller="indexListCtrl">
    <div class="index15_body">
        <div class="flicker-example">
            <ul>
                <li data-background="./src/assets/data/afficheimg/1480366105778208820.jpg">
                    <a href="javascript:void(0);" ></a>
                </li>
                <li data-background="./src/assets/data/afficheimg/1474930333957382147.jpg">
                    <a href="javascript:void(0);" ></a>
                </li>
                <li data-background="./src/assets/data/afficheimg/1476062622111891881.jpg">
                    <a href="javascript:void(0);" ></a>
                </li>
                <li data-background="./src/assets/data/afficheimg/1476062564237305344.gif">
                    <a href="javascript:void(0);" ></a>
                </li>
                <li data-background="./src/assets/data/afficheimg/1476062581221298626.jpg">
                    <a href="javascript:void(0);" ></a>
                </li>
                <li data-background="./src/assets/data/afficheimg/1476062591034289297.jpg">
                    <a href="javascript:void(0);" ></a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $('.flicker-example').flicker();
        });
    </script>
    <div class="in1606_adbody">
        <div class="in1606_ad" style="margin-top:50px;">
            <div class="in1606_adpicl">
                <a ui-sref="masonry({id: 6})">
                    <img src="./src/assets/data/afficheimg/1466964269300755716.png" alt="" />
                </a>
            </div>
            <div class="in1606_adpicl_info" style=" right:0; top:100px;">
                <h2>格莱弗奢华钻戒专区</h2>
                <h3>LUXURY DIAMOND RING AREA</h3>
                <h4>￥999元起</h4>
                <a ui-sref="masonry({id: 6})">查看详情</a>
            </div>
            <div class="in1606_adpicl_xt" style=" right:100px; top:50px;"><img src="./src/assets/data/afficheimg/1469059564106811234.png" alt="" /></div>

        </div>
        <div class="in1606_ad" style="margin-top:50px;">
            <div class="in1606_adpicl">
                <a href="javascript:void(0);" style="right:0; position:absolute;">
                    <img src="./src/assets/data/afficheimg/1466964286459760628.png" alt="" />
                </a>
            </div>
            <div class="in1606_adpicl_info" style=" left:0; top:100px;">
                <h2>格莱弗裸钻定制专区</h2>
                <h3>BARE DRILL CUSTOM ZONE</h3>
                <h4>￥999元起</h4>
                <a href="javascript:void(0);">查看详情</a>
            </div>
            <div class="in1606_adpicl_xt" style=" left:100px; top:50px;"><img src="./src/assets/data/afficheimg/1467242566550774142.png" alt="" /></div>

        </div>
        <br />
    </div>
    <div class="in1606_adbody">
        <div class="in1606_show">
            <div class="in1606_show_l"></div>
            <!-- <ul id="tabT04" class="in1606_show_menu">
                <li class="cur">戒指</li>
                <li>吊坠</li>
                <li>耳饰</li>
            </ul> -->
        </div>

        <div class="clear"></div>

        <div class="in1606_show_list">
            <ul>
                <li ng-repeat="item in indexList">
                    <a ui-sref="goods({id: item.goodsId})"><img ng-src="{{item.defaultImage}}" alt="" /></a>
                    <a ui-sref="goods({id: item.goodsId})">{{item.goodsName}}<br />￥{{item.marketPrice}}</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="" ng-include="'src/components/index/footer.html'"></div>