<script type="text/javascript">
    try {
        ace.settings.check('sidebar', 'fixed')
    } catch (e) {}
</script>

<ul class="nav nav-list">
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text">
                用户
            </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a ui-sref="index.user">
                    <i class="menu-icon fa fa-caret-right"></i>管理组列表
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a ui-sref="index.adminUserList">
                    <i class="menu-icon fa fa-caret-right"></i>管理员列表
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a ui-sref="index.userList">
                    <i class="menu-icon fa fa-caret-right"></i>客户列表
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a ui-sref="index.userRank">
                    <i class="menu-icon fa fa-caret-right"></i>客户等级列表
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">
                    产品
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a ui-sref="index.goodsList">
                        <i class="menu-icon fa fa-caret-right"></i>证书货数据
                    </a>

                    <b class="arrow"></b>
                </li>
                <!-- li class="">
                    <a ui-sref="index.proList">
                        <i class="menu-icon fa fa-caret-right"></i>活动列表
                    </a>

                    <b class="arrow"></b>
                </li> -->
                <li class="">
                    <a ui-sref="index.productList">
                        <i class="menu-icon fa fa-caret-right"></i>产品列表
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a ui-sref="index.productCatLits">
                        <i class="menu-icon fa fa-caret-right"></i>产品分类
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a ui-sref="index.productAttributeList">
                        <i class="menu-icon fa fa-caret-right"></i>产品属性
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a ui-sref="index.goodsSeriesList">
                        <i class="menu-icon fa fa-caret-right"></i>产品系列
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text">
                    订单
                </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>订单列表
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>添加订单
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>采购单列表
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>添加采购单
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>发货单列表
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>退货单列表
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>评价管理
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>售后管理
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text">
                    财务
                </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>应收款记录
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>收款记录
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>应退款记录
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>退款记录
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text">
                    推广
                </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>文章管理
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>文章分类
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>帮助分类
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>帮助列表
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>广告管理
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text">
                    统计
                </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>统计
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text">
                    系统
                </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>系统设置
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>设置金价
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>APP设置
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>日志列表
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>导航管理
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>支付方式
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>网站模板管理
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>友情链接
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="faq.html">
                    <i class="menu-icon fa fa-caret-right"></i>短信管理
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
</ul>
<!-- /.nav-list -->

<!-- #section:basics/sidebar.layout.minimize -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<!-- /section:basics/sidebar.layout.minimize -->
<script type="text/javascript">
    try {
        ace.settings.check('sidebar', 'collapsed')
    } catch (e) {}

    $('#sidebar-collapse').click()
    $('#sidebar-collapse').click()
</script>
