@charset "utf-8";
/*Type_select*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
body {line-height:18px;color:#454545;font-size:12px;font-family:Tahoma,Helvetica,Arial,"宋体",sans-serif;background-color:#FFF;}
h1,h2,h3,h4,h5,h6,em,stone {font-size:12px;font-weight:normal;}
ol,ul,dl {list-style:none;}
input,img,select {vertical-align:middle;}
img {border:0;}
body{overflow:auto; overflow-x:hidden;}
/*table {border-collapse:collapse;border-spacing:0;}*/

a {text-decoration:none;color:#454545;}
a:hover {color:#000;}

/*Other*/
.clear {clear:both;}
.hidden{display:none;}

.head1606_logo{width:318px; height:76px; background:url(../images/201606/index16_bg.png) repeat; margin:20px auto;}
.head1606_logo a{width:318px; height:76px; display:block;}
/* ==头部部分样式== */
.index14_body{width:100%; height:auto; margin:0 auto;}
.index14_wrap{width:990px; height:auto; overflow:hidden; margin:0 auto;}

.index14_login{background:#f2f2f2;}
.index14_login_l{width:300px; height:39px; line-height:39px; float:left;}
.index14_login_r{width:500px; height::39px; line-height:39px; float:right; text-align:right;}

.index14_logo{width:990px; height:111px; margin:0 auto; position:relative;}
.index14_logo_l{width:240px; height:111px; float:left; background:url(../images/2014/index_bg3.png) no-repeat;}
.index14_logo_l a{width:240px; height:111px; display:block;}
.index14_logo_r{width:260px; height:111px; float:right;}
.index14_logo_r_tel{width:200px; padding-left:60px; height:57px; background:url(../images/2014/index_bg3.png) no-repeat -850px 0; font:700 20px/57px "微软雅黑"; color:#adadad; margin-top:10px; text-align:right;}
.index14_car{width:160px; height:34px; background:url(../images/2014/index_bg3.png) no-repeat -961px -78px; line-height:34px; text-align:right; float:right; cursor:pointer;}
.index14_car span{color:#be231b; padding:0 5px;}

.index14_menu{background:#a78373;}
.index14_menu_li{width:140px; height:39px; background:url(../images/2014/index_bg3.png) no-repeat 0 -141px; float:left; line-height:39px; text-align:center; font:700 16px/39px "微软雅黑";}
.index14_menu_li a{color:#fff; width:140px; height:39px; display:block;}
.index14_menu_li a:hover{color:#836e5d; background:url(../images/2014/index_bg3.png) no-repeat -179px -141px; color:#fff;}

.index14_menu2{background:#f6efe7;}
.index14_menu2_wrap{width:990px; height:39px; margin:0 auto; position:relative; z-index:1;}
.index14_menu2_li,.index14_menu2_li2,.index14_menu2_li3{width:300px; height:39px; font:400 14px/39px "微软雅黑"; color:#826a5e; position:absolute; top:-1px;}
.index14_menu2_li{left:275px;}
.index14_menu2_li2{left:425px;}
.index14_menu2_li3{left:825px;}

.index14_menu2_li4{width:500px; height:39px; font:400 14px/39px "微软雅黑"; color:#826a5e; position:absolute; top:-1px; left:50px;}

.index14_menu2_sch{width:400px; height:39px; line-height:39px; float:right; text-align:right;}
.index14_menu2_sch a{margin-right:10px;}
.index14_menu2_sch_inp{width:128px; height:23px; border:solid 1px #c3c4c4; border-right:none;}

/* ==底部部分样式== */
.bottom14{width:100%; height:auto; overflow:hidden; margin:0 auto; background:#424242;}
.bottom14_wrap,.bottom14_wrap2{width:990px; height:auto; margin:0 auto;}
.bottom14_l{width:235px; padding-right:5px; height:auto; float:left; border-right:solid 1px #fff; margin-top:20px;}
.bottom14_l p{text-align:center; font:700 14px/25px "微软雅黑"; color:#fff;}
.bottom14_l a{color:#fff;}
.bottom14_l_logo{width:237px; height:73px; background:url(../images/201406/201406index_bg.png) no-repeat -658px -1292px;}

.bottom14_info{width:725px; height:auto; float:left; margin:20px 0 0 20px;}
.bottom14_info li{width:180px; height:auto; float:left; color:#fff;}
.bottom14_info li p{line-height:25px;}
.bottom14_info li p span{font:700 16px/30px "微软雅黑";}
.bottom14_info li a{color:#fff;}

.bottom14_copy{width:720px; padding:10px 0 0 10px; border-top:solid 1px #fff; color:#fff; margin-top:15px; padding-bottom:20px;}
.bottom14_copy a{color:#fff;}

.bottom14_2{width:100%; height:auto; overflow:hidden; margin:0 auto; background:#424242; border-top:solid 1px #fff;}
.bottom14_wrap2{text-align:center; }
.bottom14_wrap2 img{width:122px; height:40px; margin:10px;}

/* ==底部服务承诺== */
.index14_info{width:990px; height:108px; background:url(../images/2014/index_bg3.png) no-repeat 0 -834px; margin:10px auto;}



/* ==购物车样式== */
.miniCart3 {width:300px; position:absolute;	top:100px;	right:0;	padding:20px;	overflow:hidden;	background:#fff;	border:solid 6px #88543e; z-index:9999;}
.miniCart3 ul {width:300px;max-height:px;overflow:hidden;}
.miniCart3 ul li {margin-bottom:10px;padding-bottom:8px;overflow:hidden;border-bottom:dashed 1px #ccc;}
.miniCart3 ul li img {float:left;width:50px;height:50px;border:solid 1px #ccc;}
.miniCart3 ul li p {float:left;padding-left:25px;width:223px;}
.miniCart3 ul li p b,.miniCatrTotal b {font-weight:400;color:#f1060d;}
	
.miniCartTotal {float:left;line-height:24px;width:215px;}
.miniCartTotal a {text-decoration:underline;}
.miniCartToPay {display:inline-block;float:left;margin-top:10px;width:85px;height:28px;background:url(../images/2012_head.gif) no-repeat -750px -248px;}
.miniCartVacancy {text-align:center;}
.lh400o {line-height:400px;overflow:hidden;}

/* ==购物车样式== */
.miniCart4 {width:300px; position:absolute; padding:20px; overflow:hidden;	background:#fff; border:solid 6px #b23439; z-index:999; margin-left:-165px;}
.miniCart4 ul {width:300px;max-height:px;overflow:hidden;}
.miniCart4 ul li {margin-bottom:10px;padding-bottom:8px;overflow:hidden;border-bottom:dashed 1px #ccc;}
.miniCart4 ul li img {float:left;width:50px;height:50px;border:solid 1px #ccc;}
.miniCart4 ul li p {float:left;padding-left:25px;width:223px;}
.miniCart4 ul li p b,.miniCatrTotal b {font-weight:400;color:#f1060d;}



/* ==201406SERVICE== */
.service1406_bottom{width:990px; height:123px; background:url(../images/201406/201406_service.png) no-repeat; margin:20px auto;}

.in1406_logo{width:163px; height:91px; /*background:url(../images/201406/201406index_bg.png) no-repeat;*/ float:left;}
.in1406_logo a{width:163px; height:91px; display:block; } /*line-height:300px;*/

.in1406_serch{width:510px; height:auto; float:left; margin:20px 0 0 50px;}
.in1406_inp{width:405px; padding-left:10px; height:31px; border:solid 3px #b53236; font:400 14px/30px "微软雅黑"; color:#9e9e9e; float:left;}
.in1406_sub{width:82px; height:37px; float:left; background:url(../images/201406/201406index_bg.png) no-repeat -818px 0;}
.in1406_sub a{width:82px; height:37px; display:block;}

.in1406_serch_more{width:415px; height:auto; line-height:25px; margin-top:5px; color:#9e9e9e;}
.in1406_serch_more a{color:#9e9e9e; text-decoration:none; margin-right:20px;}
.in1406_serch_more a:hover{color:#333; text-decoration:none;}

.in1406_tel{width:190px; height:auto; float:right; margin-top:15px;}
.in1406_tel_text{width:190px; height:25px; font:700 18px/25px "Arial"; color:#adadad; text-align:right;}
.in1406_car{width:180px; height:32px; border:solid 1px #f0f0f0; background:url(../images/201406/201406index_bg.png) no-repeat -864px -47px; background-color: #f6f6f6; text-align:right; padding-right:5px; line-height:32px; color:#000; cursor:pointer;}
.in1406_car span{color:#e50000; margin:0 5px;}
.in1406_head_line{width:100%; height:2px; background:#ebeaea; border-top:solid 1px #c8c8c8;}

.in1406_menu{width:990px; height:37px; margin:0 auto;}
.in1406_menu_1{position: relative; width:200px; height:37px; float:left; font:700 14px/37px "微软雅黑"; text-align:center;}
.in1406_menu_2{width:700px; height:37px; float:left; line-height:37px;}
.in1406_menu_2 li{width:75px; height:23px; float:left; border-left:dashed 1px #ccc; text-align:center; font:700 14px/23px "微软雅黑"; margin-top:7px;}
.in1406_menu_2 li:first-child{border-left:none;}
.in1406_menu_2 li a{width:75px; height:23px; display:block; font:700 14px/23px "微软雅黑";}
.in1406_menu_2 li a:hover{color:#e50000;}

/*#carousel_container {width:1905px; height:400px; margin:0 auto; background:#ccc;}*/
#carousel_container {width:990px; height:400px; margin:0 auto; background:#ccc;}
.list14_right #carousel_container {width:750px; height:340px;}

.in1406_menus_wrap{width:990px; height:auto; margin:0 auto; position:relative;z-index: 9000;}
.in1406_menus{width:200px; height:400px; background:#fff; position:absolute; left:0; z-index:99998;}
.in1406_menus li{width:200px; height:39px; border-bottom:solid 1px #e9e9e9; text-align:center; letter-spacing:10px;}
.in1406_menus li:hover{background:url(../images/201406/201406index_bg.png) no-repeat -237px 0;}
.in1406_menus li a{width:200px; height:39px; display:block; font:400 14px/39px "微软雅黑";}
.wrap .headBoxBlank {height: 0px;}
