<style type="text/css" class="ng-scope">.tl_body{width:100%; height:auto; margin:0 auto;} .tl_wrap{width:990px; height:auto; margin:0 auto;} .tl_wrap img a{border:none;}</style>
<div class="index14_body index14_login" ng-controller="loginCtrl">
    <div class="index14_wrap index14_login">
        <div class="index14_login_l">
            欢迎光临每克拉美！&nbsp;&nbsp;&nbsp;&nbsp;{{username}}
            <a href="javascript:void(0);" ui-sref="login" ng-show="!isSignup">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="javascript:void(0);" ui-sref="signup" ng-show="!isSignup">注册</a>
            <span ng-show="isSignup">[QQ]凡凡凡凡&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <a href="javascript:void(0);" ui-sref="signup" ng-show="isSignup">退出</a>
        </div>
        <div class="index14_login_r">
            <a ui-sref="profile_browse">我的账户</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a ui-sref="order_list">订单查询</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="javascript:void(0);" ui-sref="help">帮助中心</a>&nbsp;&nbsp;
            <!-- <a href="javascript:void(0);">服务承诺</a>&nbsp;&nbsp; -->

        </div>
    </div>
</div>
<div class="tl_body" style="background:url(./src/assets/themes/mklm201306/images/jueji_banner_bg.jpg) no-repeat center;">
    <div class="tl_wrap">
        <a href="javascript:;">
            <img src="./src/assets/themes/mklm201306/images/jueji_banner.jpg" width="990" height="120" alt=""></a>
    </div>
</div>
<div class="index14_wrap">
    <div class="in1406_logo">
        <a ui-sref="index"></a>
    </div>
    <div class="in1406_serch">
        <form id="searchForm" name="searchForm">
            <input type="text" name="keywords" id="keywords" class="in1406_inp" value="" placeholder="一克拉裸钻">
            <input type="submit" class="in1406_sub" value="" style="border: 0px;">
            <input type="hidden" name="action" value="form"></form>
        <div class="clear"></div>
        <p class="in1406_serch_more">热门搜索：
            <a href="#">50分显钻效果</a>
            <a href="#">一克拉显钻效果</a>
            <a href="#">小清新范儿</a>
            <a href="#">裸钻</a></p>
    </div>
    <div class="in1406_tel">
        <!-- <div class="in1406_tel_text"></div> -->
        <div class="in1406_car"><a href="" ui-sref="cart-flow">查看购物车</a></div>
    </div>
</div>
<div class="index14_body">
    <div class="in1406_menu">
        <div class="in1406_menu_1" onmouseover="showTopNav('list_shu');" onmouseout="hideTopNav('list_shu');">全部商品分类
            <ul class="in1406_menus hidden" id="list_shu" style="display: none;">
                <li><a ui-sref="masonry({id: 6})">戒指</a></li>
                <li><a ui-sref="masonry({id: 9})">吊坠</a></li>
                <li><a ui-sref="masonry({id: 10})">耳饰</a></li>
                <li><a ui-sref="masonry({id: 15})">手链</a></li>
                <li><a ui-sref="masonry({id: 41})">腕表</a></li>
            </ul>
        </div>
        <ul class="in1406_menu_2">
            <li><a ui-sref="index">首页</a></li>
            <li><a ui-sref="masonry({id: 6})">戒指</a></li>
            <li><a ui-sref="masonry({id: 9})">吊坠</a></li>
            <li><a ui-sref="masonry({id: 10})">耳饰</a></li>
            <li><a ui-sref="masonry({id: 15})">手链</a></li>
            <li><a ui-sref="masonry({id: 41})">腕表</a></li>
        </ul>
    </div>
</div>