<div class="" ng-include="'src/components/page/header.html'"></div>
<div class="noumenon" id="zeronn">
    <div class="wrap">
        <div class="menbet_left" ng-include="'src/components/page/userLeft.html'"></div>

<style type="text/css">


.menbet_right{width:745px; height:auto; float:right; margin-top:10px;}
.menbet_right h1{font:700 18px/30px arial,"微软雅黑";}
.menbet_right h1 span{color:#727272; margin-left:20px;}
.menbet_right p{line-height:25px;}

.menbet_right_userinfo{width:735px; height:auto; border:solid 1px #a6a6a6; position:relative; -webkit-box-shadow: 1px 1px 11px #a6a6a6; margin-top:35px; _padding-top:20px;}


.menbet_right_userinfo_tit{width:80px; height:28px; padding-left:18px; font:700 12px/28px "微软雅黑"; background:url(./src/assets/themes/mklm201306/images/usercenter_bg.gif) no-repeat -862px 0; position:absolute; top:-28px; left:30px;}
.menbet_r_con{width:710px; height:auto; margin:20px auto;}
.menbet_r_con li{line-height:30px;}
.menbet_r_con li span{width:95px; margin-right:10px; text-align:right; display:inline-block;}
.menbet_r_con li h3{font:700 14px/30px "微软雅黑"; text-align:right; width:95px;}
.menbet_r_con li a{color:#f0040e; text-decoration:underline; margin-left:10px;}
.menbet_r_input,.menbet_r_input2{height:22px; line-height:22px; padding:0 10px; background:#d4d4d4; border:none; display:inline-block;}
.menbet_r_input{width:150px;}
.menbet_r_input2{width:370px;}
.menbet_r_line{width:710px; border-top:dashed 1px #8b8f8d; margin-top:10px;}

.menbet_r_submit{text-align:center;}
.menbet_r_submit2{text-align:right;}
.submit_hong,.submit_hei{width:80px; height:26px; line-height:26px; text-align:center; color:#fff;}
.submit_hong{background:#f0040e; border:none; margin-right:20px; cursor:pointer;}
.submit_hei{background:#2b2b2b; border:none; cursor:pointer;}

</style>
        <div class="menbet_right" ng-controller="editPassWordCtrl">
            <ul class="menbet_right_userinfo">
                <div class="menbet_right_userinfo_tit">修改密码</div>
                <form name="formPassword" ng-submit="editPassword()">
                    <div class="menbet_r_con">
                        <ul>
                            <li>
                                <span></span>密码由6-16个字符组成，为了您的账号安全，建议不要使用全数字、全字母或连续字符作为密码。</li>
                            <li>
                                <span>当前密码：</span>
                                <input ng-model="formData.oldPwd" name="oldPwd" type="password" class="menbet_r_input"></li>
                            <li>
                                <span>新密码：</span>
                                <input ng-model="formData.newPwd" name="newPwd" type="password" class="menbet_r_input"></li>
                            <li>
                                <span>确认新密码：</span>
                                <input ng-model="formData.reNewPwd" name="reNewPwd" type="password" class="menbet_r_input"></li>
                        </ul>
                        <hr class="menbet_r_line" size="1">
                        <ul class="menbet_r_submit">
                            <input type="submit" class="submit_hong" value="确定"></ul>
                    </div>
                    <input name="act" type="hidden" value="act_edit_password"></form>
            </ul>
        </div>
    </div>
</div>
<div class="bottom14" ng-include="'src/components/page/footer.html'"></div>