<style type="text/css">
.head_bg {
    width: 100%;
    min-height: 650px;
    z-index: 1;
    position: relative;
    top: 0;
}

.head_bg_link {
    width: 1100px;
    min-height: 650px;
    margin: 0 auto;
    position: relative;
}

.login_bg {
    width: 454px;
    height: 523px;
    background: url(src/assets/themes/mklm201306/images/2017/login_bg2.png) no-repeat;
    position: absolute;
    top: 120px;
    left: 150px;
}

.login {
    width: 350px;
    height: auto;
    position: absolute;
    top: 120px;
    right: 100px;
}

.login_tit {
    width: 350px;
    height: auto;
}

.login_tit h1 {
    font: 400 18px/30px "微软雅黑";
    float: left;
}

.login_tit span {
    float: right;
}

.login_tit span a {
    font: 400 14px/30px "微软雅黑";
    color: #823020;
}

.login_con {
    width: 348px;
    height: auto;
    background: #dad6d7;
    border: solid 1px #a3a3a3;
    border-radius: 5px;
    text-align: center;
    padding: 30px 0;
    -webkit-box-shadow: 2px 5px 8px rgba(117, 117, 117, .5);
    -moz-box-shadow: 2px 5px 8px rgba(117, 117, 117, .5);
    box-shadow: 2px 5px 8px rgba(117, 117, 117, .5);
}

.login_con input {
    width: 280px;
    height: 30px;
    background: #fff;
    border: solid 1px #606061;
    font: 400 14px/30px "微软雅黑";
    padding-left: 10px;
    color: #454545;
    text-align: center;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login_check {
    font: 400 12px/30px "微软雅黑";
    text-align: left;
    width: 310px;
    margin: 0 0 20px 28px;
}

.login_check span {
    float: right;
}

.login_check input {
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
}

nav {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.nav_login {
    width: 1100px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
}

.nav_login span {
    float: right;
}


/*.logo{width:93px; height:93px; background:url(themes/mklm201306/images/2017/logo_2016.png) no-repeat; float:left; margin-left:40px; position:relative;}
.logo a{width:93px; height:93px; display:block;}*/

.nav_list {
    width: 460px;
    height: 145px;
    border-bottom: solid 1px #454545;
}

.nav_list li {
    float: left;
    margin: 0 15px 0 15px;
    position: relative;
}

.nav_list li a {
    font: 400 20px/200px "微软雅黑";
    height: 143px;
    display: block;
}

.nav_list li span {
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    background: #454545;
    top: 144px;
    left: 50%;
}


/*.car{width:30px; height:35px; background:url(themes/mklm201306/images/2017/car_s.png) no-repeat; position:absolute; right:0; top:105px; padding-left:27px;}*/


/*.car span{font:400 14px/10px "微软雅黑"; background:#900; border-radius:50px; color:#fff; padding:0 5px;}
.slogan{width:155px; height:45px; background:url(themes/mklm201306/images/2017/slogan.gif) no-repeat; position:absolute; top:115px; left:-28px;}
*/

.login_botton {
    width: 80px;
    height: 30px;
    background: #fb5353;
    float: left;
    margin-left: 20px;
}

.login_botton a {
    display: block;
    font: 400 14px/30px "微软雅黑";
    text-align: center;
    color: #fff;
}

.login_botton2 {
    width: 80px;
    height: 30px;
    background: #CCC;
    float: left;
    margin-left: 20px;
    color: #666;
    font: 400 14px/30px "微软雅黑";
    text-align: center;
}

.button_red {
    position: relative;
    display: inline-block;
    min-width: 50px;
    padding: 8px 15px;
    margin: 0px 10px;
    background-color: #d1685b;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    font-family: "微软雅黑";
    text-decoration: none;
    text-align: center;
    line-height: 1;
    letter-spacing: 5px;
    border: 1px solid;
    border-color: #b73232 #b73232 #b73232 #b73232;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: inset 0px -4px 5px rgba(255, 255, 255, 0.2), inset 0px 1px 5px rgba(255, 255, 255, 0.2), 0px 2px 0px #823020, 0px 4px 0px #823020, 0px 3px 0px #823020, 0px 8px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px -4px 5px rgba(255, 255, 255, 0.2), inset 0px 1px 5px rgba(255, 255, 255, 0.2), 0px 2px 0px #823020, 0px 4px 0px #823020, 0px 3px 0px #823020, 0px 8px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px -4px 5px rgba(255, 255, 255, 0.2), inset 0px 1px 5px rgba(255, 255, 255, 0.2), 0px 2px 0px #823020, 0px 4px 0px #823020, 0px 3px 0px #823020, 0px 8px 5px rgba(0, 0, 0, 0.3);
}

.button_red:hover {
    background-color: #c02613;
    color: #fff;
}

.button_red:active {
    top: 1px;
    box-shadow: inset 0px 4px 5px rgba(255, 255, 255, 0.4), inset 0px -1px 5px rgba(255, 255, 255, 0.2), 0px 2px 0px #b24032, 0px 4px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 4px 5px rgba(255, 255, 255, 0.4), inset 0px -1px 5px rgba(255, 255, 255, 0.2), 0px 2px 0px #b24032, 0px 4px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px 4px 5px rgba(255, 255, 255, 0.4), inset 0px -1px 5px rgba(255, 255, 255, 0.2), 0px 2px 0px #b24032, 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.login_other_tit{width: 280px; height: 50px; border-top: solid 1px #454545; font: 400 14px/50px "微软雅黑"; text-align: center; margin: 20px auto;}
.login_other{width: 210px; padding-left: 70px; height: auto; margin: 20px auto;}
.login_other li{ margin: 0 10px;}
.login_other li a{width: 50px; height: 50px; display: block;}
.login_other_zfb,.login_other_qq{width: 50px; height: 50px;}
/*.login_other_zfb{background: url(themes/mklm201306/images/2017/login_zfb.png) no-repeat;}*/
.login_other_qq{background: url(src/assets/themes/mklm201306/images/2017/login_qq.png) no-repeat;}
</style>
<div class="" ng-include="'src/components/user/header.html'"></div>
<div class="head_bg" style="background:#eaeaea;" ng-controller="loginCtrl">
    <div class="head_bg_link">
        <div class="login_bg"></div>
        <!-- 登录 -->
        <div class="login" ng-show="login">
            <form name="formLogin">
                <div class="login_tit">
                    <h1>用户登录</h1><span><a ui-sref="signup">注册</a></span></div>
                <div class="clear"></div>
                <div class="login_con">
                    <input name="username" id="txt_username" value="" placeholder="请输入手机号" type="text" ng-model="userInfo.mobile">
                    <input name="password" id="txt_password" value="" placeholder="请输入密码" type="password" ng-model="userInfo.pwd">
                    <div class="login_check">
                        <!-- <input type="checkbox" checked="checked">自动登录 -->
                        <span><a href="./user.php?act=get_password">忘记密码？</a></span></div>
                    <div class="clear"></div>
                    <a href="javascript:;" ng-click="loginFun()" class="button_red">&nbsp;&nbsp;登录&nbsp;&nbsp;</a>
                    <div class="login_other_tit">使用第三方登录</div>
                    <ul class="login_other">
                       <!--  <li class="login_other_zfb">
                            <a href="https://auth.alipay.com/login/express.htm?goto=https%3A%2F%2Fmemberexprod.alipay.com%3A443%2Fauthorize%2FuserAuthQuickLoginAction.htm%3Fe_i_i_d%3D328c15c9cadd070fd01ba0e3e9521adc"></a>
                        </li> -->
                        <li class="login_other_qq">
                            <a href="https://graph.qq.com/oauth/show?which=Login&amp;display=pc&amp;response_type=code&amp;client_id=211773&amp;redirect_uri=http://www.mklm.cn/qq/callback.php"></a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <!-- 注册 -->
        <div class="login" ng-show="signup">
            <div class="login_tit">
                <h1>用户注册</h1><span><a ui-sref="login">已有账号</a></span></div>
            <div class="clear"></div>
            <div class="login_con">
                <input value="" placeholder="请输入手机号" id="phone" type="text" maxlength="11" onkeyup="value=value.replace(/[^\d.]/g,'')" ng-model="z_info.mobile">
                <input value="" placeholder="请输入验证码" maxlength="4" id="check_code" style="width: 150px; float: left; margin-left: 29px;" type="text" ng-model="z_info.vcode">
                <div class="login_botton" id="login_botton"><a href="javascript:;" id="code_div" ng-click="send_msg()">获取验证码</a></div>
                <div class="login_botton2 hidden" id="login_botton2"></div>
                <div class="clear"></div>
                <!-- 
                <input value="" placeholder="请输入用户名" id="user_name" type="text" maxlength="15"> -->
                <input value="" placeholder="请设置6~20位密码" id="pwd" type="password" maxlength="20" ng-model="z_info.pwd">
                <input value="" placeholder="请再次输入" id="re_pwd" type="password" maxlength="20"ng-model="z_info.repwd" >
                <div class="login_check" ng-model="z_password_agin">
                    <input id="agreement_box" type="checkbox" checked="checked">已阅读并同意<a href="./index.php?act=user_agreement" target="_blank">《每克拉美用户协议》</a></div>
                <div class="clear"></div>
                <a href="javascript:;" ng-click="submitForm()" class="button_red">&nbsp;&nbsp;注册&nbsp;&nbsp;</a>
            </div>
            <script>
            function submit_form() {
                var u_name = $("#user_name").val();
                var u_pass = $("#pwd").val();
                var re_pass = $("#re_pwd").val();
                var check_code = $("#check_code").val();
                var phone = $("#phone").val();

                if (phone == '') {
                    layer.alert('请您输入您的手机号码');
                    return false;
                } else if ($("#agreement_box").is(':checked') != true) {
                    layer.alert('请您阅读并同意《每克拉美用户协议》');
                    return false;
                } else if (check_code == '') {
                    layer.alert('请您输入短信验证码');
                    return false;
                } else if (u_name == '') {
                    layer.alert('请您输入用户名');
                    return false;
                } else if (u_pass == '') {
                    layer.alert('请您输入密码');
                    return false;
                } else if (re_pass == '') {
                    layer.alert('请您再次输入密码');
                    return false;
                } else if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(phone))) {
                    layer.alert('请您输入正确的手机号码');
                    return false;
                } else if (u_pass != re_pass) {
                    layer.alert('2次密码不一致');
                    return false;
                } else if ($("#agreement_box").attr('checked') != 'checked') {
                    layer.alert('《每克拉美用户协议》');
                    return false;
                } else {
                    $.post('./ajax2017.php?act=register', {
                        "u_name": u_name,
                        "u_pass": u_pass,
                        "re_pass": re_pass,
                        "check_code": check_code,
                        "phone": phone
                    }, function(r) {
                        var data = $.parseJSON(r);
                        if (data.status == 0) {
                            histroy.go(-1);
                        } else {
                            layer.alert(data.msg);
                        }
                    });
                }
            }

            function send_msg() {
                var phone = $("#phone").val();
                if (phone == '') {
                    layer.alert('请您输入您的手机号码');
                    return false;
                } else if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(phone))) {
                    layer.alert('请您输入正确的手机号码');
                    return false;
                }

                $.post('./ajax2017.php?act=send_msg', {
                    'phone': phone
                }, function(s) {
                    var data2 = $.parseJSON(s);
                    if (data2.status == 0) {
                        $("#login_botton").hide();
                        $("#login_botton2").show();



                        var time = 60;
                        var timer = setInterval(function() {
                            time--;
                            $("#login_botton2").html(time + '秒后重发');
                            if (time == 0) {
                                $("#login_botton").show();
                                $("#login_botton2").hide();
                            }
                        }, 1000);


                    } else {
                        layer.alert(data2.msg);
                    }
                });
            }
            </script>
        </div>
    </div>
</div>
<div class="bottom14" ng-include="'src/components/user/footer.html'"></div>
