<div class="" ng-include="'src/components/page/header.html'"></div>
<div class="index14_wrap" style="margin-top:10px;">
    <div class="pay14_logo">
        <a ui-sref="index"></a>
    </div>
    <div class="pay14_jindu_1"></div>
</div>

<style type="text/css">
.pay14_logo{width:322px; height:63px; float:left; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat;}
.pay14_logo a{width:322px; height:63px; display:block;}
.pay14_jindu_0,.pay14_jindu_1,.pay14_jindu_2,.pay14_jindu_3{width:537px; height:40px; float:right; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat; margin-top:20px;}
.pay14_title{width:980px; padding-left:10px; height:30px; background:#ececec; border-top:solid 3px #c2c2c2; font:700 14px/30px "微软雅黑"; color:#666;}
.pay14_tit{width:950px; padding-left:10px; height:16px; margin:30px 0 10px 10px; border-left:solid 5px #333; font:700 14px/16px "微软雅黑";}
.pay14_tit a{font:400 12px/16px "宋体"; margin-left:20px;}
.pay14_tit a:hover{color:#125bb7;}
.pay14_con{width:950px; padding:0 0 30px 20px; height:auto; margin:30px 0 10px 10px; border-bottom:solid 1px #666;}
.pay14_con p{display:inline-block; margin-right:20px; line-height:25px;}
.pay14_con p span{color:#F03;}
.pay14_bill_1{width:940px; height:auto; margin:20px 0 0 20px;}
.pay14_bill_1 td{background:#ccc; text-align:center; line-height:30px;}
.pay14_bill_2{width:940px; height:auto; margin:0 0 0 20px; background:#ccc;}
.pay14_bill_2 td{line-height:100px; background:#fff;}
.pay14_bill_col_1{width:490px;}
.pay14_bill_col_2{width:150px;}
.pay14_bill_pic{width:82px; height:82px; float:left; margin:5px 0 0 30px;}
.pay14_bill_pic img{width:80px; height:80px; border:solid 1px #ccc;}
.pay14_bill_con{width:350px; height:auto; margin:20px 0 0 20px; float:left;}
.pay14_bill_con li{line-height:25px;}
.pay14_bill_con li span{color:#F03;}
.pay14_jisuan_1{width:950px; height:auto; margin:20px 0 0 10px; border-bottom:solid 1px #666;}
.pay14_jisuan_1 li{line-height:30px; text-align:right;}
.pay14_jisuan_1 li span{color:#F03;}
.pay14_jisuan_1 li p{text-align:right; display:inline-block; width:80px;}
.pay14_jisuan{width:960px; height:50px; border:solid 1px #ccc; border-left:none; border-right:
none; background:#f2f2f2; text-align:right; margin:30px auto;}
.pay14_jisuan p{font:700 16px/50px "微软雅黑"; color:#676767; float:right;}
.pay14_jisuan p span{color:#F03;}
.pay14_jisuan a, .pay14_jisuan input{width:135px; height:36px; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat -855px -46px; float:right; margin:8px 10px 0 10px; display: block; border: 0; cursor: pointer;}
.pay_save{width:101px; height:26px; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat -889px 0; cursor:pointer; margin-top:10px;}
.pay14_jindu_0 {background-position: 0 -357px;}
.pay14_jindu_1 {background-position: 0 -118px;}
.pay14_jindu_2 {background-position: 0 -202px;}
.pay14_jindu_3 {background-position: 0 -285px;}

.pay14_title{width:980px; padding-left:10px; height:30px; background:#ececec; border-top:solid 3px #c2c2c2; font:700 14px/30px "微软雅黑"; color:#666;}

.pay14_tit{width:950px; padding-left:10px; height:16px; margin:30px 0 10px 10px; border-left:solid 5px #333; font:700 14px/16px "微软雅黑";}
.pay14_tit a{font:400 12px/16px "宋体"; margin-left:20px;}
.pay14_tit a:hover{color:#125bb7;}

.pay14_con{width:950px; padding:0 0 30px 20px; height:auto; margin:30px 0 10px 10px; border-bottom:solid 1px #666;}
.pay14_con p{display:inline-block; margin-right:20px; line-height:25px;}
.pay14_con p span{color:#F03;}

.pay14_dingdan{width:960px; height:auto; margin:20px auto 0; font:700 14px/30px "微软雅黑";}
.pay14_dingdan p{float:right; font:400 14px/30px "微软雅黑";}
.pay14_dingdan p span{color:#F03;}
.pay14_dingdan2{width:960px; height:auto; margin:0 auto 20px; color:#F03;}

.pay14_pay_tit{width:960px; padding-left:30px; height:auto; border-bottom:solid 1px #ccc; overflow:hidden; margin:50px auto;}
.pay14_pay_button_on{width:160px; height:40px; border:solid 1px #ccc; border-bottom:none; text-align:center; font:700 14px/40px "微软雅黑"; float:left; cursor:pointer;}
.pay14_pay_button_off{width:160px; height:30px; border:solid 1px #ccc; border-bottom:none; text-align:center; font:400 14px/30px "微软雅黑"; float:left; margin-top:10px; color:#999; cursor:pointer;}

.pay14_bank{width:800px; height:auto; margin:0 auto;}
.pay14_bank li{width:190px; height:auto; float:left; margin-right:10px;}
.pay14_bank li img{width:188px; height:38px; border:solid 1px #ccc; cursor:pointer;}
.pay14_bank li img:hover{border:solid 1px #F03;}

.pay14_bank2{width:800px; height:auto; margin:0 auto;}
.pay14_bank2 li{width:170px; height:auto; float:left; margin-right:10px;}
.pay14_bank2 li img{width:168px; height:38px; border:solid 1px #ccc; cursor:pointer;}
.pay14_bank2 li img:hover {border:solid 1px #F03;}
.pay14_bank2 ul li img.now {border:solid 1px #F03;}

.pay14_bank3{width:800px; height:auto; margin:0 auto;position: relative;}
.pay14_bank3_logo{width:175px; float:left;}
.pay14_bank3_logo img{width: 168px;height: 38px;border: solid 1px #ccc; cursor: pointer;}
.pay14_bank3_info{width:550px; height:auto; float:left; font:400 16px/25px "微软雅黑";}
.pay14_bank3_sl{width:800px; height:auto; margin:50px auto; display:none; position: absolute;top: -10px;}
.pay14_bank3_sl img{width:800px; height:400px;}

.pay14_go{width:990px; height:auto; border-top:solid 1px #ccc; padding:20px 0; text-align:right; overflow:hidden; margin:50px auto;}
.pay14_go a, .pay14_go input {width: 151px;height: 41px;background: url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat -839px -113px;display: block;float: right;text-align: center;line-height: 41px;font-size: 0px;color: #FFF;font-family: 微软雅黑;border: none;cursor: pointer;text-indent:-9999px;}

.pay14_logo{width:322px; height:63px; float:left; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat;}
.pay14_logo a{width:322px; height:63px; display:block;}

.pay14_jindu_1,.pay14_jindu_2,.pay14_jindu_3{width:537px; height:40px; float:right; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat; margin-top:20px;}
.pay14_jindu_1{background-position: 0 -118px;}
.pay14_jindu_2{background-position: 0 -202px;}
.pay14_jindu_3{background-position: 0 -285px;}

.pay14_back{width:990px; height:auto; margin:20px auto; border-top:solid 5px #c8c8c8; background:#ececec; padding:30px 0;}
.pay14_info{width:780px; padding-left:20px; height:60px; font:400 14px/60px "微软雅黑"; background:#fff; margin:0 auto; border:solid 1px #ccc; -moz-box-shadow:2px 4px 10px  #ccc ; -webkit-box-shadow:2px 4px 10px #ccc ; box-shadow:2px 5px 10px #ccc ;}
.pay14_info span{color:#F03;}

.pay14_info2{width:800px; height:50px; line-height:50px; margin:0 auto;}
.pay14_info2 a{color:#126bb7;}
.pay14_info2 a:hover{color:#1b5092;}

.pay14_other_tit{width:990px; height:30px; font:700 14px/30px "微软雅黑"; margin:30px auto; border-bottom:solid 1px #ccc;}
.pay14_other{width:990px; height:auto; margin:10px auto 30px; overflow:hidden;}
.pay14_other li{width:150px; height:auto; float:left; margin:0 24px;}
.pay14_other li img{width:150px; height:150px;}
.pay14_other li p{line-height:22px; text-align:center;}

.pay14_back_ok{width:860px; padding-left:60px; height:48px; margin:0 auto; background:url(./src/assets/themes/mklm201306/images/201406/2014pay_bg.png) no-repeat -938px -202px; font:400 16px/48px "微软雅黑"; color:#3f570b;}
.pay14_querstion{width:950px; height:auto; margin:10px auto 20px; padding:0 20px;}
.pay14_querstion li{font:400 14px/22px "微软雅黑";}
.pay14_querstion li span{color:#900;}

.pay14_huikuan{width:780px; padding-left:20px; height:auto; font:400 14px/60px "微软雅黑"; background:#fff; margin:0 auto; border:solid 1px #ccc; -moz-box-shadow:2px 4px 10px  #ccc ; -webkit-box-shadow:2px 4px 10px #ccc ; box-shadow:2px 5px 10px #ccc ;}
.pay14_huikuan span{color:#F03;}
.pay14_hkinfo{width:100%; height:auto; margin:0 auto 20px;}
.pay14_hkinfo li{font:400 14px/22px "微软雅黑";}
.pay14_hkinfo li p{padding-left:40px;}
</style>
<div class="index14_wrap" style="margin-top:10px;" ng-controller="orderFlowCtrl">
    <div class="pay14_title">填写核对订单信息</div>
    <form name="theForm" id="theForm" onsubmit="return checkOrderForm(this)">
        <script type="text/javascript">var flow_no_payment = "您必须选定一个支付方式。";
            var flow_no_shipping = "您必须选定一个配送方式。";</script>
        <div class="pay14_tit">收货人信息
            <a href="javascript:;">[修改]</a></div>
        <div class="pay14_con">
            <p>{{checkInfo.addressList.consignee}}</p>
            <p>{{checkInfo.addressList.mobile}}</p>
            <p>{{checkInfo.addressList.email}}</p>
            <br>
            <p>{{checkInfo.addressList.address}}</p>
        </div>
        <div class="pay14_tit">支付及配送方式
            <a href="javascript:void(0);" onclick="showTopNav('pay_zf'); hideTopNav('pay_zf2');">[修改]</a></div>
        <div class="pay14_con hidden" id="pay_zf" style="display: none;">
            <p>
                <input id="payment_platform" name="payment" type="radio" value="14" iscod="0" onclick="select_default_payment(this)" checked="checked">&nbsp;&nbsp;在线支付</p>
            <br>
            <p>
                <input type="radio" name="payment" id="payment" value="1" iscod="0" onclick="selectPayment(this)">&nbsp;&nbsp;转账汇款</p>
            <br>
            <p>
                <input name="payment" type="radio" value="2" iscod="0" onclick="selectPayment(this)" id="COD">&nbsp;&nbsp;货到付款&nbsp;&nbsp;&nbsp;&nbsp;
                <span>货到付款仅限订单金额在5000元以内的商品；货到付款支持所有联邦快递能到的区域</span>&nbsp;&nbsp;
                <a href="help-cjzfwt-82.html" target="_blank">查看配送范围</a>
                <input type="hidden" value="" id="futures_lz"></p>
            <div class="pay_save" onclick="showTopNav('pay_zf2'); hideTopNav('pay_zf');"></div>
        </div>
        <div class="pay14_con" id="pay_zf2" style="display: block;">
            <p id="pay_type">在线支付</p>
            <p>
                <span id="pay_ts">温馨提示：提交订单后，请在1小时内完成支付。否则订单会自动取消，以错过您喜爱的商品。</span></p>
            <br>
            <p>
                <input name="shipping" type="radio" value="2" checked="checked" supportcod="1" insure="0" onclick="selectShipping(this)">　 中国邮政EMS或FEDEX联邦快递(由格莱弗钻石网免费提供)
                <br></p></div>
        <div class="pay14_tit">发票信息
            <a href="javascript:void(0);" onclick="showTopNav('pay_fp'); hideTopNav('pay_fp2');">[修改]</a></div>
        <div class="pay14_con hidden" id="pay_fp">
            <input name="inv_type" type="hidden" id="ECS_INVTYPE" disabled="disabled">
            <p>
                <input name="need_inv" type="radio" id="ECS_NEEDINV" value="1" onclick="changeNeedInv()" checked="checked">&nbsp;&nbsp;发票抬头&nbsp;&nbsp;
                <select name="inv_content" id="ECS_INVCONTENT" onchange="changeNeedInv()" style="border:1px solid #ccc;">
                    <option value="个人">个人</option>
                    <option value="单位" selected="">单位</option></select>&nbsp;&nbsp;
                <input name="inv_payee" type="text" placeholder="个人请填写礼品或饰品，单位请填写单位名称" class="input" id="ECS_INVPAYEE" size="20" value="饰品" onblur="changeNeedInv()" style="width:265px;"></p>
            <br>
            <p>
                <input name="need_inv" type="radio" id="ECS_NEEDINV" value="0" onclick="changeNeedInv()">&nbsp;&nbsp;不需要发票</p>
            <br>
            <div class="pay_save" onclick="showTopNav('pay_fp2'); hideTopNav('pay_fp');"></div>
        </div>
        <div class="pay14_con" id="pay_fp2">
            <p id="fapiao_type">普通发票（纸质）&nbsp;&nbsp;单位&nbsp;&nbsp;</p>
            <br>
            <p>
                <span id="fapiao_ts">温馨提示：发票内容默认为实买实开或“饰品”、“礼品”。</span></p>
        </div>
        <div class="pay14_tit">商品清单</div>
        <div class="wrap">
            <table class="gwc_table_title2" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td width="500">商品明细</td>
                        <td width="180">编号</td>
                        <td width="100">购买数量</td>
                        <td width="180">购买价</td></tr>
                </tbody>
            </table>
            <table class="gwc_table" border="0" cellspacing="1" cellpadding="0">
                <tbody>
                    <tr ng-repeat="item in checkInfo.goodsInfo.items">
                        <td width="500">
                            <div class="gwc_t_pic">
                                <a href="javascript:;" target="_blank">
                                    <img ng-src="{{item.goodsImage}}" width="80" height="80" alt="{{item.goodsName}}"></a>
                            </div>
                            <div class="gwc_t_tit">
                                <a href="javascript:;" target="_blank">{{item.goodsName}}</a>
                                <br>　
                                <span style="color:#f11924;">所选手寸：{{item.ringSize}}</span></div>
                        </td>
                        <td width="180">{{item.goodsSn}}</td>
                        <td width="100">{{item.quantity}}</td>
                        <td width="180">￥{{item.price}}</td></tr>
                </tbody>
            </table>
            <div id="ECS_ORDERTOTAL">
                <ul class="pay14_jisuan_1">
                    <li>商品总金额：￥{{checkInfo.goodsInfo.amount}}</li>
                    <li>&nbsp;</li>
                    <!--<li>+ 运费：￥ 0.00</li>--></ul>
                <div class="clear"></div>
                <div class="pay14_jisuan">
                    <input type="button" ng-click="submit()">
                    <p>应付总额：
                        <span>￥{{checkInfo.goodsInfo.amount}}</span>元</p></div>
                <input type="hidden" value="2482" id="total_amount"></div>
            <input type="hidden" name="step" value="done"></div>
    </form>
    <script type="text/javascript">
        function check_invoice() {
            var kai = document.getElementById('ECS_NEEDINV');
            if (kai.checked == true) {
                var kaicontent = document.getElementById('ECS_INVPAYEE');
                if (kaicontent.value == '') {
                    alert('请填写发票抬头!');
                    return false;
                } else {
                    //var xForm = document.forms['theForm'];
                    //var flag = xForm.onsubmit();
                    //if(flag)xForm.submit();
                    return true;
                }
            } else {
                //var xForm = document.forms['theForm'];
                //var flag = xForm.onsubmit();
                //if(flag)xForm.submit();
                return true;
            }
        }
    </script>
</div>
<div class="bottom14" ng-include="'src/components/page/footer.html'"></div>