
<div class="bt1606">
    <div class="bt1606_pic"><img src="./src/assets/themes/mklm201306/images/201606/index16_bottom.png" alt="" /></div>
    <div class="bt1606_info">
        <ul class="bt1606_info_con">
            <li><a href="javascript:void(0);">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="javascript:void(0);">实体商城</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="javascript:void(0);">帮助中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="javascript:void(0);">联系我们</a></li>
            <li>Copytight &copy; 2016 WWW.MKLM.CN 格莱弗钻石网 All Rights Reserved | 京ICP备10013905号-1</li>
        </ul>
    </div>
</div>