
<div class="head1606" ng-controller="headerCtrl">
    <div class="head1606_top">
        <div class="head1606_top_con">
            <p ng-if="!loginOn">I SEE YOU · 发现美</p>
            <p ng-if="loginOn">欢迎光临格莱弗！&nbsp; <a ui-sref="profile_browse">{{userInfo.userName}} </a> <a href="" ng-click="logout()"> [退出登录]</a></p>
           
            <div class="head1606_top_con_r">
                <div class="head1606_top_car" style="background: none">
                    <a href="javascript:void(0);" style="color:#FFFFFF">购物车</a>
                </div>
                <div class="head1606_top_login">
                    <div ng-if="!loginOn">
                        <a href="javascript:void(0);" ui-sref="login">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:void(0);" ui-sref="signup">注册</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="javascript:void(0);" ui-sref="help"><b>帮助中心</b></a>
                    </div>
                    <div ng-if='loginOn'>
                        <a ui-sref="profile_browse">我的账户</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a ui-sref="order_list">订单查询</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="javascript:void(0);" ui-sref="help">帮助中心</a>&nbsp;&nbsp;
                    </div>
                </div>
            </div>
            <div class="index14_login_r">
                
                <!-- <a href="javascript:void(0);">服务承诺</a>&nbsp;&nbsp; -->
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="head1606_logo">
        <a ui-sref="index"></a>
    </div>

    <form id="searchForm" name="searchForm" method="get" action="search.php?act=advanced_search" onSubmit="return checkSearchForm()">
        <nav class="head1606_nav">
            <a ui-sref="index">首页</a>
            <a href="javascript:void(0);">裸钻定制</a>
            <a  ui-sref="masonry({id: 6})">钻石饰品</a>
            <a  ui-sref="jueji({id: 6})">爵迹产品</a>
            <a href="javascript:void(0);">免费试戴</a>
            <a href="javascript:void(0);">风采</a>

            <a href="javascript:void(0);">招商加盟</a>
            <input type="text" name="keywords" id="keywords" value="" placeholder="一克拉裸钻" />
            <a href="javascript:void(0);" onclick="keywords_search();"><img src="./src/assets/themes/mklm201306/images/201606/index16_search.png" /></a>
            <script>
                function checkSearchForm() {
                    if (document.getElementById('keyword').value) {
                        return true;
                    } else {
                        alert("请输入搜索关键词！");
                        return false;
                    }
                }

                function keywords_search() {
                    var keywords = document.getElementById('keywords').value;
                    if (keywords == '') {
                        return false;
                    }
                    document.getElementById("searchForm").submit();
                }
            </script>

        </nav>
    </form>

</div>