<div class="" ng-include="'src/components/page/header.html?101'"></div>
<div ng-controller="searchListCtrl">
<div class="noumenon">

    <div class="wrap">
        <a href="javascript:void(0);" target="_black">
            <div style="height: 350px; background-image:url(./src/assets/themes/mklm201306/images/watch.jpg); margin-top: 10px; margin-bottom: 20px"></div>
        </a>
        <div class="list_sppx" id="goods_list">
            <span class="list_sppx_l">
        		<form method="GET"  name="listform">
        			<b>排序方式</b>
        			<a title="按价格排序" class="listRankDef" href="javascript:void(0);">价格</a>
        			<a title="按上架时间排序" class="listRankDESC" href="javascript:void(0);">新品</a>
        			<input type="hidden" name="category" value="1" />
        			<input type="hidden" name="display" value="grid" id="display" />
        			<input type="hidden" name="brand" value="0" />
        			<input type="hidden" name="price_min" value="0" />
        			<input type="hidden" name="price_max" value="0" />
        			<input type="hidden" name="filter_attr" value="0" />
        			<input type="hidden" name="page" value="1" />
        			<input type="hidden" name="sort" value="goods_id" />
        			<input type="hidden" name="order" value="DESC" />
        		</form>
        	</span>
            <span class="list_sppx_r"><form name="selectPageForm" action="/category.php" method="get">
                <b>Page 1 of 1</b>
                </form>
            </span>
        </div>
        <div style=" margin-top: 10px; margin-bottom: 20px"></div>
        <ul class="li_list_z">
            <li ng-repeat="item in goodsList" onmouseover="this.className='hover';" onmouseout="this.className='';">
                <a ui-sref="goods({id: item.goodsId})">
                    <img ng-src="{{item.defaultImage}}" alt="{{item.goodsName}}" width="260" height="260" />
                </a>
                <h4>{{item.goodsName}}</h4>

                <p class="li_list_price">市场价：<del>￥{{item.price}}</del><br />
                    <b>本店售价：￥{{item.marketPrice}}</b><br />
                </p>
            </li>
        </ul>


        <form name="selectPageForm" action="/category.php" method="get">
            <p class="listPages">
                <b>Page 1 of 1</b>
            </p>
        </form>
    </div>
    <div class="bottom14" ng-include="'src/components/page/footer.html'"></div>
    </div>
</div>
